html {
    --rrze-metabar--height: 40px;
    scroll-padding-top: var(--rrze-metabar--height);
}

body.rrze-metabar {
    position: relative;
    margin-top: var(--rrze-metabar--height) !important;
}

#rrze-metabar {
    position: fixed;
    top: 0;
    left: 0;
    height: var(--rrze-metabar--height);
    width: 100%;
    min-width: 600px;
    z-index: 99999;
    background: #3862AD;
    color: #fff;
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    .admin-bar & {
        margin-top: var(--wp-admin--admin-bar--height, 32px) !important;
    }

    a {
        color: #fff;
        text-decoration-color: #fff;
    }

    .rrze-metabar-content {
        width: 1400px;
        max-width: 100%;
        margin: 0 auto;
        padding: 5px 15px;
    }

    .logo-container {
        margin-right: 2em;
    }

    .faublogs-logo {
        height: 30px;
        width: auto;
        margin-right: 1em;
    }
}